{% extends 'blog/base.html' %}
{% block title %}
    Create a new Blog Post
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add post...</h1>
    <br>
    <br>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>
{% else %} 

<h2>You need to login first</h2>
{% endif %}
    

{% endblock content %}