{% extends 'blog/base.html' %}
{% block title %}
    Create a new Blog Post
{% endblock title %}

{% block content %}
<br/>
<br/>
<br/>

{% if user.is_authenticated %}
    
    <div class ="container px-4 text-left">
        <div class="form-group">
            <h2>Add your post Here</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post</button>
            </form>
        </div>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById('elder').value
                = name;
    </script>
{% else %} 

<h2>You need to login first</h2>
{% endif %}
    

{% endblock content %}