{% extends 'blog/base.html' %}

{% block content %}
<style>
    .home-container{
        display: flex;
        ;
        /* grid-template-columns:2fr 1fr ; */
    }
</style>

<div class="home-container">
    <div style="background-color: aliceblue; padding: 10px; border-radius: 20px;  ">
        
        {%for post in posts %}
            
        <h3>{{post.title}}</h3>
        <small>By: {{post.author}}</small>
        <small>created on {{post.date_posted}}</small>
        <hr>
        <p>{{ post.content }}</p> <br> 
        {% endfor %}     
    </div>

    <div>
      <div class="latest-stories">
        <button>Latest Stories</button>
        <div>
            <h3>Teaching kidos how to code</h3>
            <p>I am thinking of a solution to teach under privillaged kids how to code with out worry</p><br>
            <span></span>
            <small>Wednesday</small><strong>9:15 pm</strong>
        </div>
      </div>  
    </div>



</div>

    
{% endblock content %}
    
