<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="https://ride-link.com/assets/img/logo/Logo-01.png" style="width: 80px;">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#"> Hello {{user.username}}</a>
                  </li>
            </ul>
                <a class="btn btn-outline-success" href="{% url 'logout' %}">Logout</a>
                {% endif %}

                {% if not user.is_authenticated %}
                <!-- <li class="nav-item"> -->
                  <div class="nav-item" style="padding: 1px; ">
                    <a class="btn btn-outline-success" href="{% url 'register' %}">Register</a>
                    <a class= "btn btn-outline-success" href="{% url 'login' %}">Login</a>
                  </div>
                {% endif %}
      </div>
    </div>
  </nav>