{% extends 'blog/base.html' %}
{% block title %}
    Edit Blog Post
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Update blog post</h1>
    <br>
    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success">Update</button>
        </form>
    </div>
{% else %} 

<h2>You need to Login to Perform Update your posts</h2>

{% endif %}
    

{% endblock content %}